name: Deploy Backend to Render

on:
  push:
    branches:
      - main
      - develop

jobs:
  Deploy-To-Render:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Deployment
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK_URL }}